.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  transition: background 1s ease-in-out;
  animation: fadeInAnimation 1s;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 0.5rem;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
